fonts.google.com @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans';
}

/*Nav Section*/
nav {
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.10);
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 450px;
}

li {
    list-style: none;
}

.nav_img {
    width: 85px;
    height: 40px;
}

.nav_left {
    display: flex;
    align-items: center;
    column-gap: 1.8rem;
}

.title {
    font-size: 45px;
    font-weight: 700;
}

.nav_right,
.About>ul,
.Follow>ul {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.list {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.Follow {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.03);
}

.Follow>ul {
    column-gap: 1rem;
    padding: 5px 20px;
    cursor: pointer;
}

.color_text_part {
    color: #FF42A5;
}

/*Section 1*/

.sec1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: #FFF; */
    margin-top: 0px;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: 45% 100%;
}

.sec1_title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.sec1_bigTitle {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.sec1_left>ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 3px;
}

.sec1_list {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    align-items: baseline;

}

.sec1_list>img {
    position: relative;
    top: 5px;

}

.Two_button {
    margin-top: 50px;
    margin-left: 3px;
}

.button1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    border-style: none;
    margin-right: 20px;
    cursor: pointer;
}

.button2 {
    background: #4EC5F7;
}

/* .sec1_image>img {
    width: 800px;
    height: 600;
} */

/*Section 2*/
.sec2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 100px;
}

.sec2_title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    text-transform: none;
}

.sec2_dec {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}

.sec2_bottom_title {
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-weight: 500;
}

.sec2_bottom_title2 {
    text-align: right;
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}

.sec2_right {
    width: 520px;
    align-items: center;
}

.buttonRight {
    margin-left: 310px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sec2_bottom_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sec2_bottom_title2 {
    margin-top: 8px;
}

/*Section 3*/
.sec3_title {
    text-align: center;
    color: #0B0223;
    margin-bottom: 10px;
}

.sec3_dec {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

/*Section 4*/
.sec4 {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

.sec4_title {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.Box {
    width: 342px;
    height: 400px;
    border-radius: 16px;
}

.Box>img {
    margin-top: 156px;
    margin-left: 147px;
    visibility: hidden;
}

.Watch_Now {
    color: #FF42A5;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    visibility: hidden;
}

.sec4_per_image1 {
    background: url(./images/Rectangle\ 4.png), lightgray 50% / cover no-repeat;
}

.sec4_per_image2 {
    background: url(./images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
}

.sec4_per_image3 {
    background: url(./images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;
}

.sec4_per_image4 {
    background: url(./images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
}

.Box:hover>img {
    visibility: visible;
}

.Box:hover>.Watch_Now {
    visibility: visible;
}

.Box:hover {
    border-radius: 16px;
    border: 4px solid #FF42A5;
    cursor: pointer;
}

.sec4_per_image1:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(./images/Rectangle\ 4.png), lightgray 50% / cover no-repeat;
}

.sec4_per_image2:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(./images/Rectangle\ 5.png), lightgray 50% / cover no-repeat;
}

.sec4_per_image3:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(./images/Rectangle\ 6.png), lightgray 50% / cover no-repeat;
}

.sec4_per_image4:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(./images/Rectangle\ 7.png), lightgray 50% / cover no-repeat;
}

/*Section 5*/
.sec5 {
    display: flex;
    justify-content: center;
    gap: 350px;
    align-items: center;
    margin-bottom: 0px;
}

.pic_relative {
    position: relative;
    bottom: 280px;
    right: 145px;
}

.sec5_title {
    text-align: right;
}

/*section 6*/
.sec6 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    position: relative;
    top: -150px;
}

.sec6_pic {
    width: 630px;
    height: 650px;
}

.sec_6_pic_relative {
    position: relative;
    right: 165px;
    top: 115px
}

.sec6_title,
.sec6_dec {
    text-align: left;
}

/*Section 7*/
.sec7 {
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    margin-bottom: 100px;
}

.sec7_left {
    width: 680px;
}

.sec7_full_list {
    display: flex;
    gap: 95px;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 40px;
}

.sec7_title {
    color: #FFF;
    line-height: 30px;
    margin-top: 40px;
}

.sec7_list_dec {
    font-size: 20px;
    font-weight: 600;
}

.sec7_button {
    color: #FF42A5;
    background: #FFF;
    cursor: pointer;
}

/*Section 8*/
.sec8_op {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 300px;
    height: 80px;
    border-radius: 50px;
    justify-content: center;
}

.sec8_op:hover {
    border: 1.5px solid #FF42A5;
    background: #FFF;
    cursor: pointer;
}

.sec8_img {
    width: 60px;
    height: 60px;
    border-radius: 50px;

}

.sec8_option5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 40px;
}

.op_word {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.sec8_op:hover>.op_word {
    color: #FF42A5;
}

/*Footer*/
footer {
    background: #0B0223;
    padding-bottom: 130px;
}

.footer_title {
    color: #FFF;
}

footer>.nav_left {
    justify-content: center;
}

.down2,
.down4 {
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
}

.line_text,
.social_icon {
    margin-left: 60px;
    cursor: pointer;
}

.down4 {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.footer_dec {
    margin-top: 0px;
}

.down5 br {
    display: none;
}

@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        box-shadow: none;
    }

    .nav_left {
        justify-content: center;
    }

    .sec1_image>img {
        width: 100%;
    }

    .sec1_image {
        margin-top: 30px;
        padding: 10px;
    }

    .sec1_left {
        background-image: url(./images/Group\ 14.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .sec1 {
        background-image: none;
    }

    .sec2 {
        background: #FFF;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 50px;
    }

    .sec2_img>img {
        max-width: 100%;
    }

    .sec2_right {
        max-width: 100%;
    }

    .sec2_title {
        text-align: center;
    }

    .sec2_dec,
    .sec2_bottom_title,
    .sec2_bottom_title2 {
        text-align: center;
    }

    .buttonRight {
        margin-left: 100px;

    }

    .nav_right,
    .About>ul,
    .sec2,
    .sec4,
    .sec5,
    .sec7 {
        flex-direction: column;
        justify-content: center;
    }

    .sec4 {
        align-items: center;
        margin-bottom: 0px;
    }

    .sec1,
    .sec6 {
        flex-direction: column-reverse;
    }

    .sec6,
    .sec5 {
        gap: 20px;
    }

    .hours_img {
        width: 80%;
        position: absolute;
        right: 50px;
    }

    .pic_relative {
        width: 50%;
        /* right: 50px; */
        bottom: -210px;
        right: 50px;
    }

    .sec6 {
        top: 180px;
    }

    .sec6_title br,
    .sec6_dec br,
    .sec5_title br,
    .sec2_dec br {
        display: none;
    }

    .sec6_pic {
        max-width: 340px;
        height: 348px;
    }

    .sec_6_pic_relative {
        width: 200px;
        top: -150px;
        right: -160px;
    }

    .sec6_right {
        padding-left: 40px;
    }

    .sec7 {
        padding-left: 5px;
        position: relative;
        top: 50px;
    }

    .sec7_left {
        width: 95%;
        padding: 20px;
        text-align: left;
    }

    .sec7_title {
        text-align: left;
    }

    .sec7_full_list {
        gap: 10px;
    }

    .sec7_button {
        padding: 20px 20px;
    }

    .sec7_right>img {
        width: 100%;
        margin: 20px;
    }

    .down2 {
        display: grid;
        grid-template-columns: 100px 100px 150px;
        justify-content: center;
    }

    .down4 {
        display: grid;
        grid-template-columns: 200px 150px;
        text-align: left;
        justify-content: center;
    }

    .line_text {
        margin-left: 0px;
    }

    .sec8_op {
        justify-content: left;
    }

    .down5,
    .down5 br {
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    nav {
        gap: 0px;
    }

    .About>ul,
    .Follow>ul {
        column-gap: 1rem;
    }

    .sec1_left {
        background-image: url(./images/Group\ 14.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        text-align: center;
    }

    .sec1 {
        flex-direction: column;
        background-image: none;
    }

    .sec2 {
        flex-direction: column-reverse;
    }

    .sec2_right {
        text-align: center;
    }

    .sec4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .sec5 {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .sec5_title,
    .sec5_left>p {
        text-align: center;
        max-width: 650px;
    }

    .sec5_title br,
    .sec5_left>p br {
        display: none;
    }

    .pic_relative {
        bottom: 250px;
        right: 50px;
    }

    .sec6 {
        display: none;
    }

    .sec7 {
        flex-direction: column;
        gap: 40px;
        padding-left: 20px;
        position: relative;
        top: -200px;
    }

    .sec7_right>img {
        width: 80%;
        float: right;
        /* margin-left: 50px; */
    }

    .sec8 {
        position: relative;
        top: -200px;
    }

    footer {
        position: relative;
        top: -200px;
    }

    .sec8_op {
        justify-content: left;
    }

    .down2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 30px;
    }

    .down4 {
        display: block;
        margin-bottom: 50px;
    }

    .down5 {
        padding-left: 30px;
    }
}